input {
    border: 2px solid black;
}

input {
    background-color: grey;
}

input, textarea, select {
outline: none;
background-color: #ddd;
}
input:focus {
    background-color: grey 
}

button[type="submit"] {
    border: 2px solid black;
}

button[type="reset"] {
    border: 2px solid black;
}
textarea {
    border: 2px solid black;
}
select {
    border: 2px solid black;
}

fieldset {
    border: 2px solid black
}

body{
    background-color: blue;
}

label{
    background-color: white;
}